* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

section {
    position: relative;
}

.card {
    width: 160px;
    height: 225px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.blank {
    width: 160px;
    height: 225px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    padding: 10px;
    position: relative;
    z-index: -10;
}

.d.card0 {
    display: none;
}

.endButtons {
    display: none;
}

div {
    font-size: 2.5rem;
}

.centreImage {
    display: block;
    text-align: center;
    font-size: 8rem;
}

.hearts, .diams {
    color: #ff0000;
}